/*Configurações da sidebar*/
.bg-customiza{
	background-color:#0491a3;
}

/*Configurações dos botoes do filtro*/
.btn-alimentacao{
	background-color: #ff6da7;
}

.btn-alimentacao:hover{
	background-color: #b64572;
}

.btn-confemoda{
	background-color: #ff6d6d;
}

.btn-confemoda:hover{
	background-color: #d33939;
}

.btn-eletronicos{
	background-color: #4ad4e6;
}

.btn-eletronicos:hover{
	background-color: #2599a8;
}

.btn-beleza{
	background-color: #66b73e;
}

.btn-beleza:hover{
	background-color: #4d922b;
}

.btn-decoracao{
	background-color: #e6a545;
}

.btn-decoracao:hover{
	background-color: #b47e2e;
}

.btn-petshop{
	background-color: #ffe324;
}

.btn-petshop:hover{
	background-color: #ceb61a;
}

.btn-servicos{
	background-color: #9f35cc;
}

.btn-servicos:hover{
	background-color: #6c1f8d;
}



/* .btn-servicos{
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #9f35cc;
	color: #fff;
	border-radius: 19px;
	width: 10%;
	height: fit-content;
}
*/

/*Configurações das cores das tags*/
.tag-alimentacao{
	background-color: #ff6da7;
}

.tag-confemoda{
	background-color: #ff6d6d;
}

.tag-eletronicos{
	background-color: #4ad4e6;
}

.tag-beleza{
	background-color: #66b73e;
}

.tag-decoracao{
	background-color: #e6a545;
}

.tag-petshop{
	background-color: #ffe324;
}

.tag-servicos{
	background-color: #9f35cc;
}

.color-titulo{
    color: #005661;
}

.color-subtitulo{
    color: #0491a3;
}

.color-descricao{
    color: #000000;
}




.filter-btn{
	justify-content: center;
	font-size: 1.6rem;
	color: #0491a3;
}

/*Configurações da busca*/
.search{
	height: 40px;
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #f1f0ef;
	color: #fff;
	border: #f1f0ef;
	border-radius: 16px;
}

.search-btn{
	justify-content: center;
	font-size: 1.6rem;
	color: #0491a3;
}


/*Configurações Modal*/
.icons-white{
	color: #fdfdfd;
	font-size: 1.7rem;
	justify-content: center;
}

.btn-exit, .btn-publicar, .btn-criar{
	background-color: #005661;
	color: #fdfdfd;
}

.btn-criar{
	border-radius: 5rem;
}

.btn-publicar:hover{
	background-color: #0491a3;
	color: #fdfdfd;
}

.btn-exit:hover{
	background-color: #cc0000;
}