/*Configurações da sidebar*/
.bg-customiza{
	background-color:#0491a3;
}

/*Configurações dos botoes do filtro*/
.btn-alimentacao{
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #ff6da7;
	color: #fff;
	border-radius: 19px;
	width: 11%;
	height: fit-content;
}

.btn-confemoda{
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #ff6d6d;
	color: #fff;
	border-radius: 19px;
	width: 11%;
	height: fit-content;
}

.btn-eletronicos{
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #4ad4e6;
	color: #fff;
	border-radius: 19px;
	width: 11%;
	height: fit-content;
}

.btn-beleza{
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #66b73e;
	color: #fff;
	border-radius: 19px;
	width: 11%;
	height: fit-content;
}

.btn-decoracao{
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #e6a545;
	color: #fff;
	border-radius: 19px;
	width: 11%;
	height: fit-content;
}

.btn-petshop{
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #ffe324;
	color: #fff;
	border-radius: 19px;
	width: 11%;
	height: fit-content;
}

.btn-servicos{
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #9f35cc;
	color: #fff;
	border-radius: 19px;
	width: 10%;
	height: fit-content;
}


/*Configurações dos cards*/
.titulo{
    font-family: 'Jost', sans-serif, bold;
    color: #005661;
	font-size: 1.2em;
}

.titulo-sub{
    color: #0491a3;
	font-size: 0.8em;
}

.descricao{
    color: #000000;
	text-align: justify;
}


/*Configurações das cores das tags*/
.tag-alimentacao{
	background-color: #ff6da7;
}

.tag-confemoda{
	background-color: #ff6d6d;
}

.tag-eletronicos{
	background-color: #4ad4e6;
}

.tag-beleza{
	background-color: #66b73e;
}

.tag-decoracao{
	background-color: #e6a545;
}

.tag-petshop{
	background-color: #ffe324;
}

.tag-servicos{
	background-color: #9f35cc;
}

.filter-btn{
	justify-content: center;
	font-size: 1.6rem;
	color: #0491a3;
}

/*Configurações da busca*/
.search{
	height: 40px;
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #f1f0ef;
	color: #fff;
	border: #f1f0ef;
	border-radius: 16px;
}

.search-btn{
	justify-content: center;
	font-size: 1.6rem;
	color: #0491a3;
}


/*Configurações Modal*/
.icons-white{
	color: #fdfdfd;
	font-size: 1.7rem;
	justify-content: center;
}

.btn-exit, .btn-publicar, .btn-criar{
	background-color: #005661;
	color: #fdfdfd;
}

.btn-criar{
	border-radius: 5rem;
}

.btn-publicar:hover{
	background-color: #0491a3;
	color: #fdfdfd;
}

.btn-exit:hover{
	background-color: #cc0000;
}