/*Configurações da sidebar*/
.bg-customiza{
	background-color:#0491a3;
}

.bg-customiza:hover{
	background-color:#0491a3;
	color: #fdfdfd;
}

/*Configurações do formulario*/
.select-customiza{
    background-color: #fff;
	color: #005661;

	border:none;
	border-radius: 4px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);

    padding: 1em;
}

/* Configurações dos botoes*/
.btn-critico{
	background-color: #cc0000;
}

.btn-critico:hover{
	background-color: #710000;
}


.btn-urgente{
	background-color: #F7D74A;
}

.btn-urgente:hover{
	background-color: #c4aa34;
}

.btn-importante{
	background-color: #90ee90;
}

.btn-importante:hover{
	background-color: #53c853;
}


/*Configurações dos cards*/
.tamanho-card{
    width: fit-content;
	height: fit-content;
}

.color-titulo{
    color: #005661;
}

.color-subtitulo{
    color: #0491a3;
}

.color-descricao{
    color: #000000;
}

/* Cores do footer cards*/
.importancia-critico{
    background-color: #cc0000;
}

.importancia-urgente{
    background-color: #F7D74A;
}

.importancia-importante{
    background-color: #90ee90;
}

/*Configuração de busca*/
.search{
	height: 40px;
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #f1f0ef;
	color: #fff;
	border: #f1f0ef;
	border-radius: 16px;
}

.search-btn{
	justify-content: center;
	font-size: 1.6rem;
	color: #0491a3;
}

.filter-btn{
	justify-content: center;
	font-size: 1.6rem;
	color: #0491a3;
}

/*Configurações Modal*/
.icons-white{
	color: #fdfdfd;
	font-size: 1.7rem;
	justify-content: center;
}

.btn-exit, .btn-publicar, .btn-criar{
	background-color: #005661;
	color: #fdfdfd;
}
/**/
.btn-criar{
	position: fixed;
}

.absolute {
	position: absolute;
	bottom: 5rem;
	right: 5rem;
}

.btn-criar:hover{
	background-color: #0491a3;
}
/**/
.btn-publicar:hover{
	background-color: #0491a3;
	color: #fdfdfd;
}

.btn-exit:hover{
	background-color: #cc0000;
} 