.color-sindico{
  color: #9550B7;
}

.color-administrador{
  color: #5AA800;
}

.select-customiza{
  color: #4d5455;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
  padding: 0.4rem;
}

option{
  color: #005661;
}

/* configurações do container */
.grid-container{
display: grid;
grid-template-columns: 260px 1fr 1fr 1fr;
grid-template-rows: 0.2fr 3fr;
grid-template-areas: 
"sidebar header header header"
"sidebar main main main";
height: 100vh;
}

/* ---------- HEADER ---------- */

.header{
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgb(0,0,0,0.2);
}

.menu-icon {
  display: none;
}

.btn-saida{
	background-color: #005661;
	color: #fdfdfd;
}

.btn-saida:hover{
	background-color: #0491a3;
	color: #fdfdfd;
}
/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #0dc0d8;
  color: #f1f0ef;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.21);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 1;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}
  
.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item > a{
  text-decoration: none;
  color:#fff;
  font-size: 25px;
  font-weight: 400;
}

.sidebar-list-item:hover{
  background-color: #0dc0d8;
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: rgb(180, 184, 244);
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
}

.gradient-custom {
  background: #0dc0d8;
  background: -webkit-linear-gradient(to left, #0dc0d8, #0491a3);
  background: linear-gradient(to right,#0dc0d8, #0491a3);
}

/* configurações do main*/
.main-container{
  grid-area: main;
  overflow-y: auto;    
}

/*Configuração dos cards*/
.main-cards {
display: grid;
}

/*Definindo a partir de que tamanho diminuir de aside pra um ícone de menu*/
/* Medium <= 992px */


@media screen and (max-width: 1024px) {
.grid-container {
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "header"
    "main";
}

#sidebar {
  display: none;
}

.menu-icon {
  display: inline;
}

.sidebar-title > span {
  display: inline;
}

.btns-geral{
  display: none;
}

.select-customiza{
  display: inline;
  width: 25rem;
}
}

@media screen and (max-width: 768px) {
.main-cards {
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 0;
}

.select-customiza{
  width: 20rem;
}
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
.header-left {
  display: none;
}

.search-btn{
  display: none;
}

.search{
  margin-right: 1rem;
}

.select-customiza{
  width: 8rem;
}
}

@media screen and (max-width: 321px){
.search{
  display: none;
}

.select-customiza{
  width: 11.5rem;
}
}

.accordion-cabecalho {
  cursor: pointer;
  transition: 0.4s;
}

.accordion-conteudo {
  display: none;
}

.active, .accordion-cabecalho:hover {
  background-color: #0dc0d8;
}