/* configurações do background do body */
body {
	background-color: #dddbda;
}

/* definindo configurações gerais */
*  {
	margin: 0px;
	padding: 0px;

	list-style: none;
	font-family: 'Jost', sans-serif;
	color: #fdfdfd;
}

a{
	text-decoration: none;
}

/* configurações para a section title */
.title {
	font-size: 2em;
	color: #005661;
}

.title h1::after {
	content: '';
    display: block;
    width: 7rem;
    height: 0.3rem;
    background-color: #0491a3;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}


.titulo{
    font-family: 'Jost', sans-serif, bold;
    color: #005661;
}

.titulo-sub{
    color: #0491a3;
}

.descricao{
    color: #000000;
	text-align: justify;
	font-size: 0.9em;
}

/*Configuração - busca*/
.search{
	height: 40px;
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #f1f0ef;
	color: #fff;
	border: #f1f0ef;
	border-radius: 16px;
}

#encerrar:hover{
	background-color: rgb(255, 0, 0);
}

.icons{
	color: #005661;
	font-size: 2.3rem;
}
