.perfil-foto{
    width: 12.5rem; 
    height: 12.5rem;
}

.cor-estrela{
    color: #ffc000;
}

.caixa-texto{
    background-color: #fdfdfd;
    color: #005661;
    border-radius: 15px;
    padding: 5px;
}