/* configurações do background do body */
body {
	background-color: #dddbda;
}

/* definindo configurações gerais */
*  {
	margin: 0px;
	padding: 0px;

	list-style: none;
	font-family: 'Jost', sans-serif;
	color: #fdfdfd;
}


/* configurações gerais de todas as sections */
section {
	display: flex;
    justify-content: center;
    align-items: center;

	padding: 10px;
}


/* configurações gerais dos botões */
button{
	font-size: 1.2em;
	background-color: #005661;
	color: #fff;

	border-style: none;
	border-radius: 10px;

	padding: 35px;
}

/* configurações do hover geral para todos os botões*/
button:hover {
	background-color: #0491a3;
}

.text{
	width: 50%;

	margin-left: auto;
	margin-right: auto;

	color:#005661;

	font-weight: 200;
	font-size: 1.2em;

	flex-direction: column;
	justify-content: center;
  	align-items: center;
}

.a{
	text-decoration: none;
}

/* configurações para a section title */
.title {
	font-size: 2em;
	color: #005661;
}

.title h1::after {
	content: '';
    display: block;
    width: 7rem;
    height: 0.3rem;
    background-color: #0491a3;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.bg_group{
    background-color:#fdfdfd;
	color: #005661;
}

.bg_group:hover{
    background-color: #0491a3;
}

.bg-customiza{
	background-color:#0491a3;
}

.bg-customiza:hover{
	background-color:#0491a3;
	color: #fdfdfd;
}

/*Classe para customizar select dos formulários*/
.select-customiza{
    background-color: #fff;
	color: #005661;

	border:none;
	border-radius: 4px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);

    padding: 1em;
}

/*Classe para fazer grid-2 dos botões*/
.espacamento{
    display: flex;
    justify-content: space-around;
}

/*Classe para customizar a parte de busca*/
.search-customiza{
	color: #fff;
}

.search-btn{
	background-color: #005661;
	color: #fff;
}

.filter-btn{
	color: #fff;
}

 /*Classe para definir tamanho de tudo na tela*/
.tamanho-geral{
	width:45%;
}

/*Classe para definir configurações gerais do cards*/
.tamanho-card{
    width: 20rem;
}

.titulo{
    font-family: 'Jost', sans-serif, bold;
    color: #005661;
}

.titulo-sub{
    color: #0491a3;
}

.descricao{
    color: #000000;
	text-align: justify;
}

/*Configuração - busca*/
.formulario{
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #f1f0ef;
	color: #fff;
	border: #f1f0ef;
	border-radius: 16px;
}

.search{
	height: 40px;
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #f1f0ef;
	color: #fff;
	border: #f1f0ef;
	border-radius: 16px;
}




