/*Configurações do header*/
.bg_group{
    background-color:#fdfdfd;
	color: #005661;
}

.bg_group:hover{
    background-color: #0491a3;
}

/*Configurações da sidebar*/
.bg-customiza{
	background-color:#0491a3;
}