/* importar fonte */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

/* definindo configurações gerais */
*  {
    margin: 0px;
	padding: 0px;

	list-style: none;
	font-family: 'Jost', sans-serif;
	color: #ffffff;
}

.fundo-imagem {
	background-image: url("img/fundo.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

/* cores */
.bg-005661 {
	background-color: #005661;
}

.bg-e8e8e8{
	background-color: #E8E8E8;
}

.color-0491a3 {
	color: #0491a3;
}

.color-fff {
    color: #fff;
}

.color-fdfdfd{
	color: #fdfdfd;
}

/* fontes */
.fw-400 {
	font-weight: 400;
}

.fw-200{
	font-weight: 200;
}

/* configurações do hover geral para todos os botões*/
.hover-0491a3:hover {
	background-color: #0491a3;
}

.hover-0dc0d8:hover{
	background-color: #0dc0d8;
}

/* configurações dos formulários */
.formulario {
	background-color: #E8E8E8;
	border-radius: 5px;
	box-shadow: 10px 10px 10px #00000036;
}

.shadow-black {
	box-shadow: 10px 10px 10px #00000036;
}

/* justificar texto */
.text-justify {
	text-align: justify;
}

/* arredonda a borda */
.rborder1 {
    border-radius: 50px;
}

.rborder2 {
    border-radius: 25px;
}

.rborder3 {
    border-radius: 15px;
}

.rborder4 {
    border-radius: 10px;
}

.text-decoration-none {
	text-decoration: none;
}

/*tira o sublinhado quando passamos o mouse por cima*/
.text-decoration-none:hover {
    text-decoration: none;
}

.border-img {
    border-color: #005661;
	border-style: solid;
	border-width: 0.35rem;
}

/* configurações dos formulários */
.formulario {
	background-color: #E8E8E8;
	border-radius: 5px;
	box-shadow: 10px 10px 10px #00000036;
}

/* configurações dos inputs dos formulários */
.input-form {
	color: #000000;
	border:none;
	border-bottom:2px solid #0491a3;
	padding-inline-start: 0.5rem;
}

.border-select {
	border-color: #0491a3;
	border-style: solid;
	border-width: 0.1rem;
}

.input-erro{
	border:none;
	border-bottom:2px solid #a80a0a;
	border-radius: 0px;
}

/* alterar depois que o bootstrap estiver pronto */
textarea {
	width: 97%;
	height: fit-content;

	font-size: 1.5rem;
	color:#000000;

	border:none;
	border-radius: 4px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);

	margin-bottom: 15px;
	margin-top: 8px;	
	padding-inline-start: 0.5rem;	
}

.bg-f1f0ef{
	background-color: #f1f0ef;
}


.button_reservas{
	background-color: #fff;
	color: #0491a3;

	border-style: none;
	border-radius: 10px;

	padding: 8px;
}