/* importar fonte */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

/* definindo configurações gerais */
*  {
    margin: 0px;
	padding: 0px;

	list-style: none;
	font-family: 'Jost', sans-serif;
	color: #ffffff;
}

/* configurações do background do body */
body {
	background-image: url("img/fundo.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

/* configurações dos inputs dos formulários */
.input-form {
	color: #000000;
	border:none;
	border-bottom:2px solid #0491a3;
	padding-inline-start: 0.5rem;
}

textarea {
	width: 97%;
	height: fit-content;

	font-size: 1.5rem;
	color:#000000;

	border:none;
	border-radius: 4px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);

	background-color: #f1f0ef;
	margin-bottom: 15px;
	margin-top: 8px;	
	padding-inline-start: 0.5rem;	
}

.input-erro{
	border:none;
	border-bottom:2px solid #a80a0a;
	border-radius: 0px;
}

.div_recursos{
	width: 70em;
}

.button_reservas{
	background-color: #fff;
	color: #0491a3;

	border-style: none;
	border-radius: 10px;

	padding: 8px;
}

/* configurações para os parágrafos da section text */
.text-justify {
	text-align: justify;
}

/*.configurações para a section recursos*/
.recursos {
	flex-wrap: wrap;

	width: 70%;

	margin-left: auto;
	margin-right: auto;
}

/* configurações para a os itens da section recursos */
.itens_recursos{
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	
	background: #005661;

	width: 13em;
	height: 13em;

	padding:1em;
	margin:1em;

	border-radius:25px;

	font-size: 1.3em;
	text-align:center;

}

/* configurações para as imagens dos itens da section recursos */
.itens_recursos img {
	width: 5em;
	height: 5em;
}

/* configurações para a section contatos*/
.contatos {
	display: flex;
	flex-direction: column;
}

/* configurações para os itens da section contatos */
.itens_contato {
	display: flex;
	flex-direction: row;
	justify-content: center;
  	align-items: center;
	text-align: center;

	background: #005661;

	width: 20em;
	height: 5em;

	padding: 1em;
	margin: 1em;

	border-radius: 25px;

	font-size: 1.3em;
}

/* configurações dos parágrafos nos itens da section contatos */
.itens_contato p {
	padding-left: 1em;
}

.a{
	text-decoration: none;
}

/* configurações da div com a ficha sobre integrante do grupo */
.ficha {
	background: #005661;

	display: flex;
	flex-direction: column;
    align-items: center;

	text-align: justify;

	width: 50em;
	height: fit-content;

	padding: 1em;
	margin: 1em;

	border-radius: 25px;

	font-size: 1em;
}

/* configurações do título da div com a ficha sobre integrante do grupo */


select{
	color: #005661; 
	
	border: 1px solid #0491a3;
	text-decoration: none;
	border-radius: 10px;

}

option{
	width: 59em;
	height: 4em;
	background-color: #ffffff;
	color: #005661; 

	border: none;
	text-decoration: none;
	padding: 1em;
	border-radius: 10px;
}

::placeholder{
	color: #0491a3;
}

#endereco {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

#info_condominio {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 10px;
}

.conf_formulario input:focus-visible{
	outline: 1px solid #0491a3;
}

.conf_formulario input::placeholder{
	color: #000000c0;
}

#nome_condominio {
	grid-column-start: 1;
	grid-column-end: 7;
	width: 98.5%;
}

#cnpj_condominio {
	grid-column-start: 1;
	grid-column-end: 4;
}

#cep_condominio {
	grid-column-start: 1;
	grid-column-end: 4;
}

#cidade {
	grid-column-start: 1;
	grid-column-end: 6;
}

#estado {
	grid-column-start: 6;
	grid-column-end: 7;
	width: 8.5rem;
}

#bairro, #rua {
	grid-column-start: 1;
	grid-column-end: 7;
	width: 98.5%;
}

#numero {
	grid-column-start: 1;
	grid-column-end: 2;
}

#complemento {
	grid-column-start: 2;
	grid-column-end: 7;
	width: 98%;
}
.check {
	width: 10%;
	display: inline;
}

.a{
	text-decoration: none;
}