@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

/* configurações do body */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f0ef;
    color: rgb(70, 71, 81);
    font-family: 'Jost', sans-serif;
}

.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
    font-size: 30px;
}

/* configurações do container */
.grid-container{
    display: grid;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main";
    height: 100vh;
}

/* configurações do header */
.header{
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgb(0,0,0,0.2);
}

/* configurações de imagem */
.img_tamanho{
    width: 35px;
}

/* configurações da sidebar*/
.sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #0dc0d8;
    color: #f1f0ef;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.21);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.sidebar-brand{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
}

.sidebar-list{
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item{
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

.sidebar-list-item:hover{
    background-color: #0dc0d8;
    cursor: pointer;
}

.sidebar-list-item > a{
    text-decoration: none;
    color:#fff;
    font-size: 25px;
    font-weight: 400;
}

.sidebar-responsive{
    display: inline;
    position: absolute;
}

.gradient-custom {
    background: #0dc0d8;
    background: -webkit-linear-gradient(to left, #0dc0d8, #0491a3);
    background: linear-gradient(to right,#0dc0d8, #0491a3);
  }

/* configurações do main*/
.main-container{
    grid-area: main;
    overflow: auto;
    padding: 20px 20px;
    
}