/* configurações da sidebar*/
.bg-customiza{
	background-color:#0491a3;
}

 /* Configurações do card */
.tamanho-geral{
	width:99%;
}
 
.titulo-sub{
    color: #0491a3;
}

.titulo{
    font-family: 'Jost', sans-serif, bold;
    color: #005661;
}

.descricao{
    color: #000000;
	text-align: justify;
}

/* Configurações de busca */
.search{
	height: 40px;
	font-family: 'Jost', sans-serif, bold;
	font-size: 1.2em;
	background-color: #f1f0ef;
	color: #fff;
	border: #f1f0ef;
	border-radius: 16px;
}

.search-btn{
	justify-content: center;
	font-size: 1.6rem;
	color: #0491a3;
}

.baixar-btn{
	background-color: #005661;
	color: #fff;
}

.baixar-btn:hover{
	background-color: #0491a3;
	color: #fff;
}